
@font-face {
  font-family: 'SDGeorgiaLight';
  src: url('SDGeorgiaLight.eot?#iefix') format('embedded-opentype'),  url('SDGeorgiaLight.woff') format('woff'), url('SDGeorgiaLight.ttf')  format('truetype'), url('SDGeorgiaLight.svg#SDGeorgiaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
